.card {
  display: flex;
  justify-content: space-between;
  border: 1px solid #232323;
  border-radius: 5px;
  padding: 0.6rem;
  text-decoration: none;
  transition: background-color .3s ease-in-out;
  cursor: pointer;

  & h3,
  & .species {
    transition: color .3s ease-in-out;
  }

  &:hover {
    background: #232323;

    & h3,
    & .species {
      color: #fff;
    }
  }

  & .species {
    color: #232323;
  }
}

.cardImage {
  width: 100%;
}

// .container {
//   display: flex;
//   align-items: center;
// }